
h2{
	/* color: rgb(121, 131, 146); */
	color: #000;
	font-size: 24px;
}

/* 
table{
	border:1px solid black;
}
*/	
	
select{
	
	height: 40px;
	width: 130px;
}

.tit,.pname,.pprice,.sts,.imgg,.locc,.ct{
	
	display: inline-block;
}

	
.tit{
	margin-right: 500px;
}
.pname{
	width: 247px;
}
.contt{
	width: 1000px;
	
}
#content{
	
	width: 1000px;
	height: 500px;
	background-color: rgb(238,238,234);
	font-size:30px;
	overflow: auto;
}
input#title,input#name,.input{
	height: 40px;
	width: 400px;
}
input#price-input{
	height: 40px;
	width: 404px;
}
.locc{
	display: block;
	width: 65.5%;
}
	
.md{
	display: inline-block;
	width: 30%;
}
.mds{
	width: 100%;
	font-size:20px;
}
.ct{
	display: inline-block;
	width: 27%;
}
#p_cate{
	width: 100%;
	
}
.titl{
	font-size:30px;
	font-weight: bold;
	background-color : rgb(121, 131, 146);
	color:white;
	
}
#free{
	/* width: 40px; */
	margin :0px;
}
.free-t{
	
	display: inline-block;
	font-size:20px;
	font-weight: bold;
}
.alls{
	width:1500px;
}
.pprice{
	display: inline-block;
	margin-right: 500px;
	
}
.pname{
	width:  30%;
}
.imgg{
	
	width: 30%;
	
	
}
#file{
	margin-top: 4px;
	
}
.two{
	margin-top: 10px;
}
#confirm{
	width: 66.7%;
	height: 80px;
	font-size:40px;
	font-weight: bold;

}
.ma{
	font-size: 20px;
	
}	
#name.ma{
	width:  100%;
}

.ht34 {
	height: 34px !important;
}
.w150 {
	width:150px;
}
.w130 {
	width:130px;
}
.w300 {
	width: 300px;
}
.i-block {
	display: inline-block;
}
.insertTbl {
	margin-top: 30px;
	width: 100%;
	table-layout: fixed;
}
.insertTbl th {
	padding: 8px 10px;
	font-size: 16px;
}
.insertTbl td {
	padding: 8px 10px;
	font-size: 16px;
}