table,th,td{
					border:0px solid black;
					border-collapse: collapse;
					width: 100%;
					
					
				}
		.tb{
			height: 200px;
		
		}
		.tb_tr{
			max-height: 200px;
		}
		#det{
			border : 0px solid black;
		}
		
		tbody{
			width : 100%;
		}
		
			.iim{
			max-width: 100%;
  			max-height: 100%;
		
		}
		.iim,iim2{
			width: 300px;
		}
		
			
		div.img2{
			display: inline-block;
			
			background-color : rgba(238, 238, 234,1);
			
			font-weight: bold;
			font-size:18px;
			padding: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			
			width: 40%;
			height: 100%;
			
			
		}
		
		.conAll{
			background-color: white;
			padding : 10px;
			width: 80%;
			height: 100%;
			
			
		}
		.con{
			
			margin-left:30px;
			display: inline-block;
			padding-bottom: 30px;
			
			border-bottom: 1px solid rgba(0,0,0,0.3);
			
			width: 600px;
					
			
		}
	
		.con2{
			margin-top:20px;
			margin-left:20px;
			
			
		}
		.cons{
			display: block;
			font-weight: bold;
			font-size:40px;
			border : none;
			padding: 3px;
			height: 40px;
			
		}
		.p_title{
			align-items: top;
			height: 20%;
			margin-left: 40px;
			margin-right: 40px;
			font-size: 30px;
			
			padding-bottom: 10px;
			
			border-bottom: 1px solid rgba(0,0,0,0.3);
			
			width: 600px;
			
		}
		div.titt{
			color:rgba(0,0,0,1);
			font-weight: bolder;
			
		}
		.conss{
			margin-left: 20px;
			margin-bottom: 80px;
			
		}
	
		.cre.one{
			display: inline-block;
			background-color :white;
			font-weight: bold;
			
			color: rgba(0,0,0,0.8);
			font-size: 20px;
			
		}
		.cre.two{
			display: inline-block;
			background-color : white;
			color:black;
			font-weight: normal;
		
			max-width: 300px;
			max-height: 500px;
			
			margin-left: 15px;
			
			font-size: 20px;
			
		}
	
		input.pbtn {
			/* background-color :black; */
			border:1px solid rgb(0,0,0,0.3);
			color: white;
			background-color:black;
			font-size : 50px;
			height: 100px;
			width: 280px;
			
		}
		div.all{
		/* display: inline-block; */
			display : flex;
			justify-content: top;
			align-items: center;
			height: 500px;
			background-color :white;
			border : 0px solid rgb(0,0,0,0.3);
			margin-bottom:50px 
			
		}
		
		#sts,#md{
			display: inline-block;
			font-size: 30px;
			font-weight: bold;
			color: rgba(0,0,0,0.7);	
				
				
			
			
		}
		#md{
			background-color: rgb(253,80,81);;
			color: white;
			text-align: center;
			max-width: 400px;
			margin-left: 4px;
			margin-right: 3px;
		}
		#sts{
			background-color: rgb(254,208,98);
			color: white;
			text-align: center;
			margin-left: 3px;
			margin-right: 3px;
			width: 120px;
		}
		
		.tCon{
			display: inline-block;
			max-height: 100%;
		}
		
		.cont{
			border: 1px solid rgb(0,0,0,0.3);
			
			width: 100%;
			height: 500px;
			background-color: white;
			margin-top : 20px;
			margin-bottom : 40px;
			margin-right : 0px;
		}
		.sels{
			background-color :rgba(238, 238, 234,1);
			color: rgba(0,0,0,0.7);
			display:inline-block;
			font-weight:bold;
			font-size: 40px;
			height: 100px;
		 	width: 15%;
		 	padding-top:20px; 
		 	
		}
		.sels2{
			color:pink;
			font-weight:bold;
			font-size: 40px;
			display:inline-block;
			
		 	height: 100px;
		 	padding-top:20px;
		 	margin-left: 20px;
		 	
		}
		#black{
			display: inline-block;
			color : black;
		}
		#seller{
			background-color: white;
			border-bottom:1px solid rgb(0,0,0,0.3);
		}
		#content{
			margin : 100px;
			margin: 100px;
			color:black;
			font-size: 30px;
		}
		.replyName{
		
			display: inline-block;
			background-color :white;
			color: white;
			width: 200px;
			height: 100px;
			padding-top:20px;
			font-size:40px;
			font-weight:bold;
			
			vertical-align: top;
		}
		
		#replyForm{
			width: 100%;
		}
		#replyTr{	
			height: 70px;
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
		
		.sels23{
			display:inline-block;
			
			
			border: 1px solid rgb(0,0,0,0.3);
			
			 background-color: white;	
			 color: black;
			 font-weight: bold;
			 font-size: 40px;
			 
			 width: 15%;
			 height: 100%;
		}
		
		.se{
			display: flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			background-color : rgba(238, 238, 234,1);
			color:#666;
		}
		
		
		
		#replyfirm{
			display: inline-block;
			background-color :white;
			border:1px solid rgb(0,0,0,0.3);
		}
		#replyConfirm{
			width:100%;
			height: 100%;
			font-weight: bold;
			font-size: 20px;
			border: none;
			background-color : rgba(238, 238, 234,1);
			color:  #666;
			border : none;	
			margin:0px;
			padding:0px;
			
		}
		
		#replyInput{
			width: 100%;
			height: 100%;
			font-size: 20px;
			font-weight: bold;
			border: none;
			margin: 0px;
			padding: 0px;
		}
		#replyCon{
			display:inline-block;
			background-color :white;
			border: 1px solid rgba(0,0,0,0.3);
			width: 75%;
		}
		#replyfirm{
			width:10%;
			display: inline-block;
			background-color :white;
			border:1px solid rgb(0,0,0,0.3);
		}
		#reply{
			width: 100%;	
		}
		.replyF{
			display: inline-block;
			vertical-align:top;
			width:10%;
			height: 100%;
			/* height: 200px; */
			font-weight: bold;
			font-size:30px;
			background-color: white;
			color: black;
			border : 1px solid rgba(0,0,0,0.3);	
			
			/* padding-bottom:155px; */
			
		}
		.res{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			background-color : rgba(238, 238, 234,1);
			
		}
		.i{
			display: inline-block;
			border:1px solid rgba(0,0,0,0.3);
			width: 75%;
			height:100%;
			font-size:40px;
			font-weight: bold;
		}
		.i_c{
			display: flex;
			justify-content: top;
			align-items: center;
			height: 100%;
			margin-left: 20px;
			font-size: 20px;
		}
		
		.delete{
			margin: 0px;
			padding:0px;
			border:none;
			font-size: 20px;
			color:#666;
			
			
			
		}
		.as{
			display:flex;
			width:100%;
			height:100px;
			margin-bottom: 10px;
		}
		
		.line{
			width: 100%;
			height: 70px;
			background-color: rgba(0,0,0,0.5);
			border: 0px solid black;
			margin-bottom: 10px;
			margin-bottom: 10px;
			
			padding-left: 30px;
			height: 100px;
			display: flex;
			align-items: center;
		}
		.line1{
			font-size: 50px;
			font-weight: bold;
			color: white;
		}
		.line2{
			width: 100%;
			height: 10px;
			background-color: rgba(0,0,0,0.3);
			border: 0px solid black;
			margin-bottom: 5px;
			
			padding-left: 30px;
			display: flex;
			align-items: center;
		}
		.line3{
			width: 100%;
			height: 70px;
			background-color: rgba(0,0,0,0.5);
			border: 0px solid black;
			margin-bottom: 10px;
			
			padding-left: 30px;
			height: 100px;
			display: flex;
			align-items: center;
		
		}
		
		.ln{
			background-color: black;
			height: 20px;
			border:none;
			margin: 0px;
		}	
			
			
			
 		.empty{
 			background-color:white;
 			width: 1073px;
 			height: 100px;
 			padding-top: 30px;
 			font-size: 30px;
 			color: white;
 			font-weight: bold;
 		}