<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
		<typeAlias type="com.omb.user.safeProduct.vo.SafeProductVO" alias="safeProduct" />
		<typeAlias type="com.omb.user.payment.vo.PaymentVO" alias="payment" />
		<typeAlias type="com.omb.user.orderInfo.vo.OrderInfoVO" alias="orderinfo" />
		<typeAlias type="com.omb.admin.depositInfo.vo.AdmDepositInfoVO" alias="depositInfo"/>
		<typeAlias type="com.omb.user.delivery.vo.DeliveryVO" alias="delivery" />
		<typeAlias type="com.omb.user.account.vo.AccountVO" alias="account" />
		
		<typeAlias type="com.omb.admin.member.vo.AdmMemberVO" alias="admmember"/>
		<typeAlias type="com.omb.user.member.vo.MemberVO" alias="member"/>

		<typeAlias type="com.omb.admin.serviceCenter.vo.AdmServiceCenterVO" alias="admservice"/>

		<typeAlias type="com.omb.user.address.vo.MemberAddressVO" alias="address"/>

		
		<typeAlias type="com.omb.admin.vo.AdminVO" alias="admin"/>
		<typeAlias type="com.omb.admin.serviceCenter.faq.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.omb.user.serviceCenter.vo.ServiceCenterVO" alias="center"/>


		<typeAlias type="com.omb.admin.notice.vo.AdmNoticeVO" alias="admnotice"/>

		<typeAlias type="com.omb.user.community.vo.UserCommunityVO" alias="community"/>

		<typeAlias type="com.omb.user.product.vo.ProductVO" alias="product"/>
		<typeAlias type="com.omb.user.productReply.vo.ProductReplyVO" alias="pReply"/>
	</typeAliases>
</configuration>