<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
		<typeAlias type="com.omb.user.safeProduct.vo.SafeProductVO" alias="safeProduct" />
		<typeAlias type="com.omb.user.payment.vo.PaymentVO" alias="payment" />
		
		<typeAlias type="com.omb.user.member.vo.MemberVO" alias="member"/>
		
		<typeAlias type="com.omb.admin.vo.AdminVO" alias="admin"/>
		<typeAlias type="com.omb.admin.serviceCenter.faq.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.omb.user.serviceCenter.vo.ServiceCenterVO" alias="center"/>
	</typeAliases>
</configuration>